In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(20).reshape(4,5))

In [4]:
df

          0         1         2         3         4
0  1.088365 -1.266533 -0.694037  0.110678  0.392899
1 -1.190586  1.331505  0.017059  0.498510 -1.456396
2  0.539215  0.246193 -1.185460  2.230987 -0.112190
3 -0.249186  0.026355 -0.461863 -1.516361  0.027543

In [6]:
df[df[0] > df[1].mean()]

          0         1         2         3         4
0  1.088365 -1.266533 -0.694037  0.110678  0.392899
2  0.539215  0.246193 -1.185460  2.230987 -0.112190

In [8]:
df[[True,False,True,False]]

          0         1         2         3         4
0  1.088365 -1.266533 -0.694037  0.110678  0.392899
2  0.539215  0.246193 -1.185460  2.230987 -0.112190

In [9]:
df.T

          0         1         2         3
0  1.088365 -1.190586  0.539215 -0.249186
1 -1.266533  1.331505  0.246193  0.026355
2 -0.694037  0.017059 -1.185460 -0.461863
3  0.110678  0.498510  2.230987 -1.516361
4  0.392899 -1.456396 -0.112190  0.027543