In [1]:
import pandas as pd
import numpy as np
pop = {'Nevada':{2001:2.4,2002:2.9},'Ohio':{2000:1.5,2001:1.7,2002:3.6}}
frame3 = pd.DataFrame(pop)
frame3

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2000     NaN   1.5

In [2]:
frame3.T

        2001  2002  2000
Nevada   2.4   2.9   NaN
Ohio     1.7   3.6   1.5

In [4]:
pd.DataFrame(pop,index=[2001,2002,2003])

      Nevada  Ohio
2001     2.4   1.7
2002     2.9   3.6
2003     NaN   NaN

In [5]:
pdata = {'Ohio':frame3['Ohio'][:-1],'Nevada':frame3['Nevada'][:2]}

In [6]:
pd.DataFrame(pdata)

      Ohio  Nevada
2001   1.7     2.4
2002   3.6     2.9

In [7]:
obj = pd.Series(range(3),index=['a','b','c'])
index = obj.index
index

Index(['a', 'b', 'c'], dtype='object')

In [8]:
index[:1]

Index(['a'], dtype='object')

In [9]:
labels = pd.Index(np.arange((3)))

In [10]:
labels

Int64Index([0, 1, 2], dtype='int64')

In [11]:
obj2 = pd.Series([1.5,-2.5,0],index=labels)

In [14]:
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [15]:
labels1 = pd.Index(['a','b']).append(labels)

In [17]:
labels1

Index(['a', 'b', 0, 1, 2], dtype='object')

In [18]:
pda = pd.Series(['1','d','t','p','p'],index=labels1)

In [19]:
pda

a    1
b    d
0    t
1    p
2    p
dtype: object

In [20]:
# 重新索引
obj = pd.Series([4.5,7.2,-5.3,3.6],index=['d','b','a','c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [28]:
arr = obj.values
re1 = arr.reshape((2,2))
re1

array([[ 4.5,  7.2],
       [-5.3,  3.6]])

In [29]:
re1[0][0]

4.5

In [30]:
obj2 = obj.reindex(['a','b','c','d','e'])

In [31]:
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [32]:
obj3 = pd.Series(['blue','purple','yellow'],index=[0,2,4])

In [33]:
obj3

0      blue
2    purple
4    yellow
dtype: object

In [35]:
# 实现前向值填充
obj3.reindex(range(6),method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [37]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),index=['a','c','d'],columns=['Ohio','Texas','California'])

In [38]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [39]:
frame2 = frame.reindex(['a','b','c','d'])

In [40]:
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [41]:
states = ['Texas','Utah','California']

In [42]:
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [43]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [44]:
frame.loc[1]

KeyError: 1

In [45]:
frame.loc['a']

Ohio          0
Texas         1
California    2
Name: a, dtype: int32

In [47]:
frame.iloc[:2]

   Ohio  Texas  California
a     0      1           2
c     3      4           5

In [53]:
frame.loc[["a","d"]]

   Ohio  Texas  California
a     0      1           2
d     6      7           8

In [54]:
obj = pd.Series(np.arange(4.),index=['a','b','c','d'])

In [55]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [56]:
obj.drop('b')

a    0.0
c    2.0
d    3.0
dtype: float64

In [57]:
obj.drop(['a','b'])

c    2.0
d    3.0
dtype: float64

In [58]:
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [59]:
frame.drop(['Ohio','Texas'],axis=1)

   California
a           2
c           5
d           8

In [60]:
data = pd.DataFrame(np.arange(16).reshape((4,4)),index=['Ohio','Colorado','Utah','New York'],
                    columns=['one','two','three','four'])

In [61]:
data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [62]:
data['two']

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int32

In [63]:
data[['one','two']]

          one  two
Ohio        0    1
Colorado    4    5
Utah        8    9
New York   12   13

In [64]:
data[:2]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [65]:
data < 5

            one    two  three   four
Ohio       True   True   True   True
Colorado   True  False  False  False
Utah      False  False  False  False
New York  False  False  False  False

In [66]:
data[data['three'] > 5]

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [67]:
 data

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [68]:
df1 = pd.DataFrame(np.arange(9.).reshape((3,3)),columns=list('bcd'),index=['Ohio','Texas','Colorado'])

In [70]:
df2 = pd.DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),index=['Utah','Ohio','Texas','Colorado'])

In [71]:
df1

            b    c    d
Ohio      0.0  1.0  2.0
Texas     3.0  4.0  5.0
Colorado  6.0  7.0  8.0

In [72]:
df2

            b     d     e
Utah      0.0   1.0   2.0
Ohio      3.0   4.0   5.0
Texas     6.0   7.0   8.0
Colorado  9.0  10.0  11.0

In [73]:
df1 + df2

             b   c     d   e
Colorado  15.0 NaN  18.0 NaN
Ohio       3.0 NaN   6.0 NaN
Texas      9.0 NaN  12.0 NaN
Utah       NaN NaN   NaN NaN

In [74]:
df1 = pd.DataFrame(np.arange(12.).reshape((3,4)),columns=list('abcd'))

In [75]:
df2 = pd.DataFrame(np.arange(20.).reshape((4,5)),columns=list('abcde'))

In [76]:
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [77]:
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [78]:
df2.loc[1,'b'] = np.nan

In [79]:
df1

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [80]:
df2

      a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [81]:
df1.add(df2,fill_value=0)

      a     b     c     d     e
0   0.0   2.0   4.0   6.0   4.0
1   9.0   5.0  13.0  15.0   9.0
2  18.0  20.0  22.0  24.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [82]:
1 / df1

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [83]:
df1.rdiv(1)

       a         b         c         d
0    inf  1.000000  0.500000  0.333333
1  0.250  0.200000  0.166667  0.142857
2  0.125  0.111111  0.100000  0.090909

In [84]:
df1.div(1)

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

In [85]:
df1 / df2

     a         b         c         d   e
0  NaN  1.000000  1.000000  1.000000 NaN
1  0.8       NaN  0.857143  0.875000 NaN
2  0.8  0.818182  0.833333  0.846154 NaN
3  NaN       NaN       NaN       NaN NaN

In [86]:
df1.reindex(columns=df2.columns,fill_value=0)

     a    b     c     d  e
0  0.0  1.0   2.0   3.0  0
1  4.0  5.0   6.0   7.0  0
2  8.0  9.0  10.0  11.0  0

In [87]:
frame = pd.DataFrame(np.arange(12.).reshape((4,3)),columns=list('bde'),index=['Utah','Ohiso','Texas','Oregon'])

In [90]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohiso   3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [91]:
sries = frame.loc['Utah']

In [92]:
sries

b    0.0
d    1.0
e    2.0
Name: Utah, dtype: float64

In [93]:
frame - sries

          b    d    e
Utah    0.0  0.0  0.0
Ohiso   3.0  3.0  3.0
Texas   6.0  6.0  6.0
Oregon  9.0  9.0  9.0

In [94]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohiso   3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [95]:
# 原来是可以在列上广播 axis = 'index

In [97]:
# 函数应用和映射
frame = pd.DataFrame(np.random.randn(4,3),columns=list('bde'),index=['Utah','Ohio','Texas','Oregon'])

In [98]:
frame

          b     d     e
Utah    0.0   1.0   2.0
Ohiso   3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [99]:
np.abs(frame)

          b     d     e
Utah    0.0   1.0   2.0
Ohiso   3.0   4.0   5.0
Texas   6.0   7.0   8.0
Oregon  9.0  10.0  11.0

In [100]:
f = lambda  x:x.max() - x.min()

In [101]:
frame.apply(f)

b    9.0
d    9.0
e    9.0
dtype: float64

In [102]:
frame.apply(f,axis='columns')

Utah      2.0
Ohiso     2.0
Texas     2.0
Oregon    2.0
dtype: float64

In [103]:
frame.sum()

b    18.0
d    22.0
e    26.0
dtype: float64

In [104]:
frame.sum(axis='columns')

Utah       3.0
Ohiso     12.0
Texas     21.0
Oregon    30.0
dtype: float64

In [105]:
frame.mean()

b    4.5
d    5.5
e    6.5
dtype: float64

In [107]:
frame.mean(axis='columns')

Utah       1.0
Ohiso      4.0
Texas      7.0
Oregon    10.0
dtype: float64

In [109]:
def f(x):
    return pd.Series([x.min(),x.max()],index=['min',['max']])

In [110]:
frame.apply(f)

         b     d     e
min    0.0   1.0   2.0
[max]  9.0  10.0  11.0

In [111]:
format = lambda  x:'%.2f' %x
frame.applymap(format)

           b      d      e
Utah    0.00   1.00   2.00
Ohiso   3.00   4.00   5.00
Texas   6.00   7.00   8.00
Oregon  9.00  10.00  11.00

In [112]:
frame['e'].map(format)

Utah       2.00
Ohiso      5.00
Texas      8.00
Oregon    11.00
Name: e, dtype: object

In [113]:
frame = pd.DataFrame(np.arange(8).reshape((2,4)),index=['three','one'],columns=['d','a','b','c'])

In [114]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [115]:
frame.sort_index()

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [116]:
frame.sort_index(axis=1)

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [117]:
frame.sort_index(axis=1,ascending=False)

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [118]:
frame.sort_index(ascending=False)

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [119]:
# 值排序
obj = pd.Series([4,7,-3,2])

In [120]:
obj

0    4
1    7
2   -3
3    2
dtype: int64

In [121]:
obj.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [122]:
df = pd.DataFrame([[1.4,np.nan],[7.1,-4.5],[np.nan,np.nan],[0.75,-1.3]],index=['a','b','c','d'],columns=['one','two'])

In [123]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [124]:
df.sum()

one    9.25
two   -5.80
dtype: float64

In [125]:
df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

In [126]:
df.sum(axis=1,skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [128]:
df.sum(axis=1,skipna=False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

In [129]:
df.idxmax()

one    b
two    d
dtype: object

In [130]:
df.cummin()

    one  two
a  1.40  NaN
b  1.40 -4.5
c   NaN  NaN
d  0.75 -4.5

In [131]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [132]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

In [133]:
import pandas_datareader.data as web
all_data = {ticker:web.get_data_yahoo(ticker) for ticker in ['AAPL','IBM','MSFT','GOOG']}

ReadTimeout: HTTPSConnectionPool(host='finance.yahoo.com', port=443): Read timed out. (read timeout=30)

In [134]:
price = pd.DataFrame({ticker:data['Adj Close'] for ticker,data in all_data.items()} )

NameError: name 'all_data' is not defined

In [144]:
data1 = pd.DataFrame({'Qu1':[1,3,4,3,4],
                     'Qu2':[2,3,1,2,3,],
                     'Qu3':[1,5,2,4,4]})

In [145]:
data1

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [142]:
data = pd.Series(['a','b','c','d','a','a','b'])

In [143]:
pd.value_counts(data.values)

a    3
b    2
c    1
d    1
dtype: int64

In [150]:
result = data1.apply(pd.value_counts)

In [151]:
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  NaN  2.0  1.0
3  2.0  2.0  NaN
4  2.0  NaN  2.0
5  NaN  NaN  1.0