In [3]:
# 第六章 读写文本格式的数据
# read_csv read_table 可能使用很多

import pandas as pd

df = pd.read_csv('../examples/ex1.csv',sep=',')

In [4]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
pd.read_csv('../examples/ex2.csv',header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [6]:
pd.read_csv('../examples/ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
names = ['a','b','c','d','message']

In [8]:
pd.read_csv('../examples/ex2.csv',names=names,index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [9]:
parsed = pd.read_csv('../examples/csv_mindex.csv',index_col=['key1','key2'])

In [10]:
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [20]:
parsed.loc['one','a']

value1    1
value2    2
Name: (one, a), dtype: int64

In [21]:
parsed.loc['two',:]

      value1  value2
key2
a          9      10
b         11      12
c         13      14
d         15      16

In [22]:
parsed['value1']

key1  key2
one   a        1
      b        3
      c        5
      d        7
two   a        9
      b       11
      c       13
      d       15
Name: value1, dtype: int64

In [23]:
result = pd.read_csv('../examples/ex5.csv')

In [24]:
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False