In [1]:
# 检测和过滤异常值
# 过滤或变换异常ourlier在很大程度就是运用数组运算。来看一个正态分布数据
import re

import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame(np.random.randn(1000,4))

In [3]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.001134     0.029351     0.033342    -0.006893
std       1.004875     1.003489     0.973107     0.974133
min      -3.737548    -3.299326    -3.366711    -3.292155
25%      -0.662799    -0.638300    -0.635494    -0.653271
50%      -0.003974     0.033560     0.047596    -0.004722
75%       0.673890     0.699502     0.660899     0.662316
max       3.266401     3.947018     4.495668     3.546149

In [4]:
# 找出绝对值超过3
col = data[2]

In [5]:
col

0     -0.753774
1     -2.184906
2      0.081483
3      0.848840
4     -0.189698
         ...
995    0.141254
996   -0.030102
997   -0.311660
998    0.469885
999   -0.755646
Name: 2, Length: 1000, dtype: float64

In [6]:
col[np.abs(col) > 3]

235    3.046180
238   -3.062333
256    4.495668
569   -3.366711
Name: 2, dtype: float64

In [7]:
data[(np.abs(data) > 3).any(1)]

            0         1         2         3
108 -3.061983 -1.664377  1.350348 -0.797619
177 -1.339128 -3.299326 -0.280653  1.072421
235  0.027459  0.827401  3.046180  1.456524
238 -0.123543  0.071893 -3.062333  0.987163
256 -0.226103 -0.724689  4.495668 -0.538025
487 -0.299407  0.928299  0.320146 -3.292155
522  3.152078  1.911190 -0.092404 -0.470693
546  3.266401  1.677847 -0.144354 -0.652811
562  0.311365  3.947018  0.998383  1.308655
569 -0.333779 -0.798198 -3.366711  0.232445
824 -3.737548  0.598448 -1.007293 -0.877468
850  1.379445  0.538298  0.026511  3.546149
855 -1.198177 -0.938763  0.706096 -3.120065
993 -0.287319  3.036931  0.497475 -1.126895

In [8]:
data[np.abs(data) >3] = np.sign(data) * 3

In [9]:
data

            0         1         2         3
0   -0.681853  0.220718 -0.753774  1.046168
1   -1.331631 -0.599999 -2.184906  0.561187
2    0.160213 -0.264027  0.081483 -0.442908
3   -1.238406  1.737444  0.848840  0.622639
4    0.569940 -1.132663 -0.189698 -1.188717
..        ...       ...       ...       ...
995  0.111062 -0.080060  0.141254  0.844216
996 -0.623188 -0.062151 -0.030102 -0.126771
997 -0.854131  0.565820 -0.311660 -2.126686
998  0.198014 -0.272594  0.469885  0.169601
999 -0.394214  1.338652 -0.755646 -0.155759

[1000 rows x 4 columns]

In [10]:
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.001515     0.028667     0.032229    -0.007027
std       1.000907     0.999167     0.965812     0.970967
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.662799    -0.638300    -0.635494    -0.653271
50%      -0.003974     0.033560     0.047596    -0.004722
75%       0.673890     0.699502     0.660899     0.662316
max       3.000000     3.000000     3.000000     3.000000

In [11]:
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0 -1.0  1.0
1 -1.0 -1.0 -1.0  1.0
2  1.0 -1.0  1.0 -1.0
3 -1.0  1.0  1.0  1.0
4  1.0 -1.0 -1.0 -1.0

In [12]:
# 排列和随机采样

In [13]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5,4)))

In [14]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [15]:
sampler = np.random.permutation(5)

In [16]:
sampler

array([1, 0, 2, 4, 3])

In [17]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [18]:
df.take(sampler)

    0   1   2   3
1   4   5   6   7
0   0   1   2   3
2   8   9  10  11
4  16  17  18  19
3  12  13  14  15

In [19]:
df.sample(n=3)

    0   1   2   3
2   8   9  10  11
4  16  17  18  19
1   4   5   6   7

In [20]:
df.sample(n=3)

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
2   8   9  10  11

In [21]:
choices = pd.Series([5,7,-1,6,4])

In [22]:
draws = choices.sample(n=10,replace=True)

In [23]:
draws

0    5
2   -1
4    4
4    4
1    7
3    6
0    5
0    5
1    7
4    4
dtype: int64

In [2]:
# 指标矩阵
# K个不同的值，派生一个K列矩阵或者dataframe
import pandas as pd
df = pd.DataFrame({'key':['b','b','a','c','a','b'],'data':range(6)})

In [3]:
df

  key  data
0   b     0
1   b     1
2   a     2
3   c     3
4   a     4
5   b     5

In [4]:
pd.get_dummies(df['key'])

   a  b  c
0  0  1  0
1  0  1  0
2  1  0  0
3  0  0  1
4  1  0  0
5  0  1  0

In [14]:
dummies = pd.get_dummies(df['key'],prefix='key')

In [15]:
df_with_dummy =df[['data']].join(dummies)

In [16]:
df

  key  data
0   b     0
1   b     1
2   a     2
3   c     3
4   a     4
5   b     5

In [17]:
df_with_dummy

   data  key_a  key_b  key_c
0     0      0      1      0
1     1      0      1      0
2     2      1      0      0
3     3      0      0      1
4     4      1      0      0
5     5      0      1      0

In [9]:
dummies

   key_a  key_b  key_c
0      0      1      0
1      0      1      0
2      1      0      0
3      0      0      1
4      1      0      0
5      0      1      0

In [18]:
mnames = ['movie_id','title','genres']

In [19]:
# movies = pd.read_table('datasets/movielens/movies.data',sep='::',header=None,names=mnames)

C:\Users\waw\AppData\Local\Temp\ipykernel_14256\2089339127.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_table('datasets/movielens/movies.data',sep='::',header=None,names=mnames)

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/movielens/movies.data'

In [22]:
# zero_matrix = np.zeros((len(movies),len(gen)))

In [24]:
import numpy as np
np.random.seed(12345)

In [25]:
values = np.random.rand(10)

In [26]:
values

array([0.92961609, 0.31637555, 0.18391881, 0.20456028, 0.56772503,
       0.5955447 , 0.96451452, 0.6531771 , 0.74890664, 0.65356987])

In [27]:
bins = [0,0.2,0.4,0.6,0.8,1]

In [28]:
pd.get_dummies(pd.cut(values,bins))

   (0.0, 0.2]  (0.2, 0.4]  (0.4, 0.6]  (0.6, 0.8]  (0.8, 1.0]
0           0           0           0           0           1
1           0           1           0           0           0
2           1           0           0           0           0
3           0           1           0           0           0
4           0           0           1           0           0
5           0           0           1           0           0
6           0           0           0           0           1
7           0           0           0           1           0
8           0           0           0           1           0
9           0           0           0           1           0

In [29]:
# 字符串操作

In [30]:
val = 'a,b,guido'

In [31]:
val.split(',')

['a', 'b', 'guido']

In [32]:
pieces = [x.strip() for x in val.split(',')]

In [33]:
pieces

['a', 'b', 'guido']

In [34]:
first,second,third = pieces

In [35]:
first + '::' + second + '::' + third

'a::b::guido'

In [36]:
'guido' in val

True

In [37]:
val.index(',')

1

In [38]:
val.find(':')

-1

In [39]:
val.index(':')

ValueError: substring not found

In [40]:
val.count(',')

2

In [41]:
val.replace(',','::')

'a::b::guido'

In [42]:
val.replace(',','')

'abguido'

In [43]:
data = {'Dave':'dave@google.com','Steve':'steve@gmail.com','Rob':'rob@gmail.com','Wes':np.nan}

In [44]:
data

{'Dave': 'dave@google.com',
 'Steve': 'steve@gmail.com',
 'Rob': 'rob@gmail.com',
 'Wes': nan}

In [46]:
data = pd.Series(data)

In [47]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [48]:
data.str

In [49]:
data.str()

TypeError: 'StringMethods' object is not callable

In [50]:
for i in data.str:
    print(i)

Dave       d
Steve      s
Rob        r
Wes      NaN
dtype: object
Dave       a
Steve      t
Rob        o
Wes      NaN
dtype: object
Dave       v
Steve      e
Rob        b
Wes      NaN
dtype: object
Dave       e
Steve      v
Rob        @
Wes      NaN
dtype: object
Dave       @
Steve      e
Rob        g
Wes      NaN
dtype: object
Dave       g
Steve      @
Rob        m
Wes      NaN
dtype: object
Dave       o
Steve      g
Rob        a
Wes      NaN
dtype: object
Dave       o
Steve      m
Rob        i
Wes      NaN
dtype: object
Dave       g
Steve      a
Rob        l
Wes      NaN
dtype: object
Dave       l
Steve      i
Rob        .
Wes      NaN
dtype: object
Dave       e
Steve      l
Rob        c
Wes      NaN
dtype: object
Dave       .
Steve      .
Rob        o
Wes      NaN
dtype: object
Dave       c
Steve      c
Rob        m
Wes      NaN
dtype: object
Dave       o
Steve      o
Rob      NaN
Wes      NaN
dtype: object
Dave       m
Steve      m
Rob      NaN
Wes      NaN
dtype: object

C:\Users\waw\AppData\Local\Temp\ipykernel_14256\3311414158.py:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  for i in data.str:

In [51]:
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [68]:
pattern = r'([A-Za-z0-9._%+-]+)@([A-Za-z0-9.-]+)\.([A-Z]{2,4})'

In [69]:
import re
data.str.findall(pattern,flags=re.IGNORECASE)

Dave     [(dave, google, com)]
Steve    [(steve, gmail, com)]
Rob        [(rob, gmail, com)]
Wes                        NaN
dtype: object

In [70]:
pattern

'([A-Za-z0-9._%+-]+)@([A-Za-z0-9.-]+)\\.([A-Z]{2,4})'

In [71]:
matches = data.str.match(pattern,flags=re.IGNORECASE)

In [72]:
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object