In [1]:
# 数据的规整，聚合、合并和重塑
# 层次化索引
import pandas as pd
import numpy as np

In [2]:
data = pd.Series(np.random.randn(9),index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,3,1,2,2,3]])

In [3]:
data

a  1   -0.947987
   2    0.518944
   3    0.132880
b  1    0.870445
   3    0.278572
c  1   -0.180659
   2    1.839766
d  2    0.296385
   3    1.168601
dtype: float64

In [4]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
data[('a',1)]

-0.9479868043121032

In [6]:
data[('b',1)]

0.8704448419336304

In [7]:
data['b':'c']

b  1    0.870445
   3    0.278572
c  1   -0.180659
   2    1.839766
dtype: float64

In [9]:
data.loc[['b','d']]

b  1    0.870445
   3    0.278572
d  2    0.296385
   3    1.168601
dtype: float64

In [10]:
data

a  1   -0.947987
   2    0.518944
   3    0.132880
b  1    0.870445
   3    0.278572
c  1   -0.180659
   2    1.839766
d  2    0.296385
   3    1.168601
dtype: float64

In [11]:
data.unstack() # 通过unstack

          1         2         3
a -0.947987  0.518944  0.132880
b  0.870445       NaN  0.278572
c -0.180659  1.839766       NaN
d       NaN  0.296385  1.168601

In [12]:
# 逆运算 stack
data.unstack().stack()

a  1   -0.947987
   2    0.518944
   3    0.132880
b  1    0.870445
   3    0.278572
c  1   -0.180659
   2    1.839766
d  2    0.296385
   3    1.168601
dtype: float64

In [14]:
frame = pd.DataFrame(np.arange(12).reshape((4,3)),index=[['a','a','b','b'],[1,2,1,2]],
                     columns=[['Ohio','Ohio','Colorado'],['Green','Red','Green']])

In [15]:
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [16]:
frame.unstack()

   Ohio            Colorado
  Green    Red        Green
      1  2   1   2        1   2
a     0  3   1   4        2   5
b     6  9   7  10        8  11

In [17]:
frame.unstack()

   Ohio            Colorado
  Green    Red        Green
      1  2   1   2        1   2
a     0  3   1   4        2   5
b     6  9   7  10        8  11

In [18]:
frame.index.names = ['key1','key2']

In [19]:
frame.columns.names = ['state','color']

In [20]:
frame

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [21]:
frame['Ohio']

color      Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [23]:
MultiIndex.from_arrays([['Ohio','Ohio','Colorado'],['Green','Red','Green']],names=['state','color'])

MultiIndex([(    'Ohio', 'Green'),
            (    'Ohio',   'Red'),
            ('Colorado', 'Green')],
           names=['state', 'color'])

In [24]:
frame.swaplevel('key1','key2')

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [25]:
frame.sort_index(level=1)

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [26]:
frame.swaplevel(0,1).sort_index(level=0)

state      Ohio     Colorado
color     Green Red    Green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

In [27]:
frame.sum(level='key2')

C:\Users\waw\AppData\Local\Temp\ipykernel_44868\2004046222.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  frame.sum(level='key2')

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [28]:
frame.sum(level='color',axis=1)

C:\Users\waw\AppData\Local\Temp\ipykernel_44868\1534194635.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  frame.sum(level='color',axis=1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

In [29]:
# 使用DataFrame的列进行索引
frame = pd.DataFrame({'a':range(7),'b':range(7,0,-1),'c':['one','one','one','two','two','two','two'],'d':[0,1,2,0,1,2,3]})

In [30]:
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [31]:
frame2 = frame.set_index(['c','d'])

In [32]:
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [34]:
frame3 = frame.set_index(['c','d'],drop=False)

In [35]:
frame3

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [38]:
frame3.loc['one',0]

a      0
b      7
c    one
d      0
Name: (one, 0), dtype: object

In [39]:
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [40]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

In [41]:
# 合并数据集
# 合并merge
df1 = pd.DataFrame({'key':['b','b','a','c','a','a','b'],'data1':range(7)})

In [42]:
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [43]:
df2 = pd.DataFrame({'key':['a','b','d'],'data2':range(3)})

In [44]:
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [45]:
pd.merge(df1,df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [46]:
pd.merge(df2,df1)

  key  data2  data1
0   a      0      2
1   a      0      4
2   a      0      5
3   b      1      0
4   b      1      1
5   b      1      6

In [47]:
pd.merge(df1,df2,on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [48]:
df3 = pd.DataFrame({'lkey':['b','b','a','c','a','a','b'],'data1':range(7)})

In [49]:
df4 = pd.DataFrame({'rkey':['a','b','d'],'data2':range(3)})

In [50]:
pd.merge(df3,df4,left_on='lkey',right_on='rkey')

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [51]:
left = pd.DataFrame({'key1':['foo','foo','bar'],'key2':['one','two','one'],'lval':[1,2,3]})

In [54]:
right = pd.DataFrame({'key1':['foo','foo','bar','bar'],'key2':['one','one','one','two'],'rval':[4,5,6,7]})

In [56]:
pd.merge(left,right,on=['key1','key2'],how='outer')

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

In [57]:
pd.merge(left,right,on='key1')

  key1 key2_x  lval key2_y  rval
0  foo    one     1    one     4
1  foo    one     1    one     5
2  foo    two     2    one     4
3  foo    two     2    one     5
4  bar    one     3    one     6
5  bar    one     3    two     7

In [58]:
pd.merge(left,right,on='key1',suffixes=('_left','_right'))

  key1 key2_left  lval key2_right  rval
0  foo       one     1        one     4
1  foo       one     1        one     5
2  foo       two     2        one     4
3  foo       two     2        one     5
4  bar       one     3        one     6
5  bar       one     3        two     7

In [59]:
# 索引上的合并

In [60]:
# join
# concat
# combine_first
# 在朴素的连接，合并一维和二维上，通过分析列，和行的以及相关的填充用这些，左联、右连、交集、并集来处理

In [61]:
# stack 和unstack。交换行列和反向交换行列

In [ ]:
# 长格式 类似很多列，提取有用的列
# 宽格式 合并多个二维列到一个长格式